<div class="d-flex flex-column flex">
    <div>
        <div class="pt-3 p-md-6 d-flex justify-content-center">
            <div class="card p-0 col-lg-3">
                <div class="row no-gutters">
                    <div class="col-md-12" id="content-body">
                        <div class="p-4 d-flex flex-column">
                            <div class="d-flex flex align-items-center justify-content-center">
                                <div class="animate pt-5 fadeIn">
                                    <img src="assets/CBF_logo.svg" alt="...">
                                    <h4></h4>
                                    <h4 class="mb-3 text-black">CLUB BIG FUN</h4>
                                </div>
                            </div>
                        </div>
                        <div class="p-4">
                            <form [formGroup]="resetPwdFrm">
                                <input type="text" hidden formControlName="member_Id">
                                <input type="text" hidden formControlName="old_Password">
                                <div class="form-group">
                                    <label class="required">Password</label>
                                    <input type="password" name="password" formControlName="password"
                                        class="form-control" placeholder="Password">
                                </div>
                                <div class="form-group">
                                    <label class="required">Confirm Password</label>
                                    <input type="password" name="cnfpassword" formControlName="confirmPassword"
                                        class="form-control" placeholder="Confirm Password">
                                </div>
                                <div class="row d-flex justify-content-center">
                                    <button type="submit" class="btn center w-sm mb-1 btn-primary"
                                        (click)="resetPwd();">Submit</button>
                                </div>
                                <!-- <div class="row d-flex justify-content-center">
                                    <div class="my-3 text-right"><a [routerLink]="['/login']" class="text-muted">Back To
                                            Login</a></div>
                                </div> -->
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- <div class="modal fade-color" tabindex="-1" role="dialog" style="display: block"
    [style.display]="showModal ? 'block' : 'none'">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title h4" id="mySmallModalLabel">Email Confirmation</h5>
                <button type="button" class="close" (click)="cancelAction()" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <p>{{message}}</p>
            </div>
            <div class="row">
                <div class="col-md-12 pb-3"><img class="ticket-img center" src="../../../assets/mail icon.svg">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn center btn-secondary" (click)="cancelAction()"
                    data-dismiss="modal">OK</button>
            </div>
        </div>
    </div>
</div> -->