button {
    height: 44px;
}
.form-control {
    display: block;
    width: 100%;
    height: calc(3rem + 2px);
    border: 2px solid #ddd;
    font-size: 20px;
}
.text-error
{
    color:red;
    padding:6px 6px 6px 0px;
}