.footer-fixed-ui
{
    position: fixed;
    bottom: 0px;
    background: #fff;
}
.close-icon
{
    height: 30px;
    width: 30px;
    color: black;
    padding: 8px 3px;
}
.w-33{
    width: 33%;
}
.header-logo-lg{
    width: 40px;
    margin: 0 auto;
    display: block;
}