<!-- <div id="content" class="flex">
  <div class="page-container" id="page-container">
    <div class="">
      <div class="row">
        <div class="col-sm-12">
          <div class="mb-3">

            <ul class="nav nav-rules" id="myTab" role="tablist">
              <li class="nav-item"><a class="nav-link active" id="home-tab" data-toggle="tab" href="#home2" role="tab"
                  aria-controls="home" aria-selected="false">SURVIVOR FOOTBALL RULES</a></li>
              <li class="nav-item"><a class="nav-link" id="home-tab" data-toggle="tab" href="#home3" role="tab"
                  aria-controls="home" aria-selected="false">NHL SURVIVAL POOL RULES</a></li>
            </ul>
          </div>
          <div class="tab-content mb-4">
            <div class="tab-pane fade active show" id="home2" role="tabpanel" aria-labelledby="home-tab">
              <h4 class="pb-2"> SURVIVOR FOOTBALL RULES</h4>
              <ul class="rules">
                <li>
                  <p>
                    The "Survival Football" is a contest of skill that requires each contestant to select a different
                    football team for each
                    week for the regular season. No team can be selected more than once each season. If the team
                    selected on any
                    week wins, the contestant will remain in the contest. If the team selected loses or ties on any
                    week, the contestant is
                    eliminated from the contest. The winner(s) will be the last contestant(s)remaining in the contest at
                    the end of the
                    week # played, or the contestant(s) remaining at the end of the regular season.
                  </p>
                </li>
                <li>
                  <p>
                    In order to enter the contest and have access to the regular season schedule, the ability to input
                    selections on a
                    weekly basis via the web site and access to weekly reports and rankings along with a login profile
                    to the web site,
                    contestants must register their entry via their REPRESENTATIVE.
                    Contestants will be able to make their weekly selection via the web site based on the following
                    weekly closing
                    schedule:
                  </p>
                </li>
                <li>
                  <p><b>YOU MUST ENTER A PICK FOR WEEK 1. THIS IS MANDATORY TO CONFIRM YOU ARE VALIDATING
                      YOUR TICKET AND YOU ARE ARE TAKING RESPONSIBILITY FOR THE FEE. IF YOU DO NOT MAKE A WEEK
                      #1 PICK, YOU WILL BE DELETED FROM THE POOL.
                      YOUR SELECTIONS MUST BE MADE BY THE FRIDAY MIDNIGHT!!!! EASTERN STANDARD TIME.</b>
                  </p>
                </li>
                <li>
                  <p> FROM WEEK 2 FORWARD.IF your pick is not received by the deadline date of the week due FRIDAY
                    MIDNIGHT,
                    EASTERN STANDARD TIME, you will receive a Default pick.
                    THE DEFAULT PICKS WILL BE the highest HOME favorite available to that ticket for the week in
                    question. IF 2 or
                    more teams have the same spread, we go in alphabetical order. Each ticket will be allowed 3 default
                    picks for the
                    season, on the 4TH you will forfeit your entry TO ADMINISTRATORS.
                    THE DEFAULT PICKS WILL BE POSTED ON A WEEKLY BASIS..
                  </p>
                </li>
                <li>
                  <p> If a contestant misses the deadline to select a team for that week, such contestant will
                    automatically be given a
                    default pick. NO EXCEPTIONS!! DOUBLE CHECK TO ENSURE YOU RECORDED YOUR ENTRIES PROPERLY.
                    ANY ENTRIES NOT RECORDED ARE YOUR RESPONSIBILITY!
                  </p>
                </li>
                <li>
                  <p>If a game is postponed or cancelled, contestants that selected that game will be given a default
                    pick for that week..
                  </p>
                </li>
                <li>
                  <p> No responsibility will be taken for contest registrations or entries that are lost, delayed,
                    damaged, not received
                    properly on the web site or misdirected in any other manner in the mail or any other electronic
                    means including the
                    Internet. All entries become the property of the Contest Administrator and none will be returned.
                  </p>
                </li>
                <li>
                  <p>By entering the Contest, participants release and hold harmless clubbigfun.com, its affiliates,
                    directors, officers,
                    employees, and agents from any and all liability for any injuries, loss or damage of any kind
                    arising from or in
                    connection with the Contest or any prize. clubbigfun.com is not responsible for any un received,
                    incorrect, or
                    inaccurate Contest entry or other error, regardless of the cause. clubbigfun.com disclaims any and
                    all liability for the
                    accuracy, availability, or timeliness of the information published at the clubbigfun.com site as
                    well as for any failure of
                    Contest participants to comply with applicable laws and regulations. clubbigfun.com assumes no
                    responsibility for any
                    error, omission, interruption, deletion, defect, delay in operation or transmission, communications
                    line failure, theft or
                    destruction or unauthorized access to, or alteration of Contest entries. clubbigfun.com is not
                    responsible for any
                    problems or technical malfunction of any telephone network or lines, computer on-line-systems,
                    servers or providers,
                    computer equipment, software, failure of e-mail or traffic congestion on the Internet or at any web
                    site or combination
                    thereof, including injury or damage to Contest participants or to any other person's computer
                    related to or resulting
                    from participating or downloading materials in this Contest. clubbigfun.com is not responsible for
                    any postage due,
                    misaddressed, or undeliverable Contest entries submitted by mail. If, for any reason, the Contest is
                    not capable of
                    running as planned, including infection by computer virus, bugs, tampering, unauthorized
                    intervention, fraud,
                    technical failures, or any other causes which corrupt or affect the administration, security,
                    fairness, integrity or
                    conduct of this Contest, clubbigfun.com reserves the right at its sole discretion to cancel,
                    terminate, modify or
                    suspend the Contest.
                  </p>
                </li>
                <li>
                  <p> The Contest is open to all who are 18 years of age or older. Residents of all other jurisdictions
                    are required to
                    ensure participating in the Contest complies with local law. The Contest is void where prohibited by
                    law.
                  </p>
                </li>
                <li>
                  <p> clubbigfun.com and contests are not affiliated with, sponsored by, or endorsed by any professional
                    sports
                    organizations. Player, team names and statistics are used for informational purposes only.
                    Statistics supplied are
                    from sources believed to be reliable.
                  </p>
                </li>
                <li>
                  <p> The decisions of the Contest Administrator are final on all matters of fact, interpretation,
                    eligibility, procedure and
                    fulfillment.
                  </p>
                </li>
                <li>
                  <p> By entering this contest you acknowledge acceptance of all contest rules and agree to be
                    bound by them.
                  </p>
                </li>
                <li>
                  <p> Please update your profiles with a legitimate email or phone number and keep them up to date !
                  </p>
                </li>
              </ul>
            </div>
            <div class="tab-pane fade active show" id="home3" role="tabpanel" aria-labelledby="home-tab">
              <h4 class="pb-2 pl-3"> NHL SURVIVAL POOL RULES</h4>
              <ul class="rules">
                <div class="mb-3">
                  The "NHL SURVIVAL POOL” is a contest of skill that requires each contestant to select a differ-ent
                  HOCKEY team for each week for the regular season. ANY team can be selected more than once each week.
                  If the team selected on any week wins, the contestant will remain in the con-test. If the team
                  selected loses on any week, the contestant is eliminated from the contest. Thewinner(s) will be the
                  last contestant(s)remaining in the contest at the end of the week # played, or the contestant(s)
                  remaining at the end of the regular season.
                </div>
                <div class="mb-3">
                  In order to enter the contest and have access to the regular season schedule, the ability to in-put
                  selections on a weekly basis via the web site and access to weekly reports and rankings along with a
                  login profile to the web site, contestants must register their entry via their REPRE-SENTATIVE.
                  Contestants will be able to make their weekly selection via the web site based on the following weekly
                  closing schedule:
                </div>
                <div class="mb-3">
                  YOU MUST ENTER A PICK FOR WEEK 1. THIS IS MANDATORY TO CONFIRM YOU ARE VALIDATING YOUR TICKET AND YOU
                  ARE ARE TAKING RESPONSIBILITY FOR THE FEE. IF YOU DO NOT MAKE AWEEK #1 PICK, YOU WILL BE DELETED FROM
                  THE POOL. YOUR SELECTIONS MUST BE MADE BY THE FRIDAY MIDNIGHT!!!! EASTERN STANDARD TIME.
                </div>

                <div class="mb-3">
                  FROM WEEK 2 FORWARD, .if your pick is not received by the deadline date of the week due FRIDAY
                  MIDNIGHT, EASTERN STANDARD TIME, you will receive a Default pick. THE DEFAULT PICKS WILL BE the
                  highest HOME favourite available to that ticket for the week in question. IF 2or more teams have the
                  same spread, we go in alphabetical order. Each ticket will be allowed 3default picks for the season,
                  on the 4TH you will forfeit your entry TO ADMINISTRATOR.

                </div>
                <div class="mb-3">
                  If a contestant misses the deadline to select a team for that week, such contestant will
                  auto-matically be given a default pick. NO EXCEPTIONS!! DOUBLE CHECK TO ENSURE YOU RECORDED YOUR
                  ENTRIES PROPERLY. ANY ENTRIES NOT RECORDED ARE YOUR RESPONSIBILITY.
                </div>

                <div class="mb-3">
                  If a game is postponed or cancelled, contestants that selected that game will be given a de-fault pick
                  for that week.
                </div>

                <div class="mb-3">
                  No responsibility will be taken for contest registrations or entries that are lost, delayed, dam-aged,
                  not received properly on the web site or misdirected in any other manner in the mail or any other
                  electronic means including the Internet. All entries become the property of the Con-test Administrator
                  and none will be returned
                </div>



              </ul>

            </div>
            <div class="pt-3" style="display: none" [style.display]="showModalReminder ? 'none' : 'block'">
              <div class="row">
                <div class="col-sm-5"></div>
                <div class="col-sm-2">
                  <input type="button" class="btn btn-primary" (click)="accepted()" value="Accept">
                  &nbsp;&nbsp;
                  <a class="btn btn-secondary" [routerLink]="['/']" data-pjax-state="">Reject</a>
                </div>
                <div class="col-sm-5"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div> -->


<div id="content" class="flex">
  <div class="page-container" id="page-container">
    <div class="pt-5 pb-5">
      <div class="row">
        <div class="col-sm-12">
          <div class="mb-3">
            <ul class="nav nav-rules" id="myTab" role="tablist">
              <li *ngFor="let rule of Rules; let i = index" class="nav-item">
                <a class="nav-link" [ngClass]="{'active': i === 0}" id="home-tab" data-toggle="tab" (click)="selectedRule(rule?.rule_Id)" role="tab"
                  aria-controls="home" aria-selected="false">{{rule?.rule_Title}}</a>
              </li>
            </ul>
          </div>
          <div *ngIf="selectedRuleContent" class="tab-content mb-4">
            <div class="tab-pane fade active show" role="tabpanel" aria-labelledby="home-tab">
              <div [innerHtml]="selectedRuleContent"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>