<div class="d-flex flex-column flex">
  <div>
    <div class="pt-3 p-md-6 d-flex justify-content-center">
      <div class="card p-0 col-lg-3 col-md-4 col-sm-6">
        <div class="row no-gutters">
          <div class="col-md-12" id="content-body">
            <div class="p-4 pb-0 d-flex flex-column">
              <div class="align-items-center justify-content-center">
                <div class="row animate pb-4 pt-=2">
                  <div class="logo-text"><img height="40px" src="assets/CBF_logo.svg" alt="..."></div>
                  <h5 class="logo-text-ctr text-black">CLUB BIG FUN</h5>
                  <div class="logo-text"><img class="img-right" height="40px" src="assets/CBF_logo.svg" alt="..."></div>
                </div>
              </div>
              <div class="row pl-3 pr-3">
                <p>Welcom to the Club Big Fun. Please fill in the following details. Fields marked with * are required to join.</p>
              </div>
            </div>
            <div class="p-4 pt-0">
              <form [formGroup]="signupForm">
                <div class="form-group">
                  <label class="required">Name of agent who reffered you</label>
                  <input type="text" class="form-control" placeholder="" formControlName="reference">
                </div>
                <div class="form-group">
                  <label class="required">Email Address</label>
                  <input type="email" name="" class="form-control" placeholder="" formControlName="email_Address">
                </div>
                <div class="form-group">
                  <label class="required">Phone Number</label>
                  <input type="number" maxlength="11" name="" class="form-control" placeholder="" formControlName="phone_Number">
                </div>
                <div class="form-group">
                  <label class="required">First Name</label>
                  <input type="text" name="" class="form-control" placeholder="" formControlName="first_Name">
                </div>
                <div class="form-group">
                  <label class="required">Last Name</label>
                  <input type="text" name="" class="form-control" placeholder="" formControlName="last_Name">
                </div>
                <!-- <div class="form-group">
                  <label class="required">Password</label>
                  <input type="text" name="" class="form-control" placeholder="" formControlName="password">
                </div>
                <div class="form-group">
                  <label class="required">Confirm Password</label>
                  <input type="text" name="" class="form-control" placeholder="" formControlName="confirmPassword">
                </div> -->
                <div class="d-flex pt-2">
                  <button type="submit" class="btn w-sm mb-1 btn-secondary" [routerLink]="['/login']">Cancel</button>
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                  <button type="submit" class="btn w-sm mb-1 btn-primary right" data-toggle="modal" data-target="#JoinClub" (click)="signup()">Register</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal fade-color" tabindex="-1" role="dialog" style="display: block" [style.display]="showModal ? 'block' : 'none'">
  <div class="modal-dialog modal-sm">
      <div class="modal-content">
          <div class="modal-header">
              <h5 class="modal-title center" id="exampleModalLongTitle">Thank You</h5>
          </div>
          <div class="modal-body">
              <p class="text-center">Your registration is completed.</p>
              <p class="text-center p-0">You will now be verified through the system.</p>
              <P class="text-center p-0">Once you have been verified you will recieve an  invite to clubbigfun.com by email.</P>
              <div class="row">
                <div class="col-md-12 pb-3"><img class="ticket-img ftn" src="../../../assets/mail icon.svg">
                </div>
            </div>
            </div>
          <div class="modal-footer">
            <button type="button" class="btn center btn-secondary"(click)="cancelAction()" data-dismiss="modal">OK</button>
          </div>
      </div>
  </div>
</div>