.edit-button {
  position: absolute;
  display: none;
  bottom: 20px;
  cursor: pointer;
}

.avatar:hover .edit-button {
  display: block;
}
i.glyphicon {
  position: absolute;
  right: 4px;
  top: 30px;
}