<div id="content" class="flex">
    <div class="p-3 b-b">
        <div class="toolbar"><a class="btn btn-sm btn-white i-con-h-a" data-pjax-state="" title="Back"
                [routerLink]="['/main-schedule-list']"><i
                    class="i-con i-con-arrow-left text-muted"><i></i></i></a><button
                class="btn btn-sm btn-white d-md-none" data-modal="" data-target="#content-aside" data-toggle="modal"><i
                    class="i-con i-con-nav text-muted"></i></button></div>
    </div>
    <div class="" id="page-container">
        <div class="p-3">
            <div class="row">
                <div class="col-sm-12">
                    <div class="card">
                        <div class="card-header"><strong>Add Schedule</strong></div>
                        <div class="card-body">
                            <form novalidate="" [formGroup]="mainScheduleForm">
                                <div class="form-row">
                                    <div class="form-group col-sm-6">
                                        <label class="required">Season</label><select formControlName='seasonCode'
                                            class="custom-select">
                                            <option value=""> Select </option>
                                            <option *ngFor="let season of seasons" value="{{season.seasoncode}}">
                                                {{season.seasoncode}}</option>
                                        </select>
                                    </div>
                                    <div class="form-group col-sm-6">
                                        <label class="required">Week</label><select formControlName='week'
                                            class="custom-select">
                                            <option value=""> Select </option>
                                            <option *ngFor="let week of weeks" value="{{week.week}}">
                                                Week {{week.week}}</option>
                                        </select>
                                    </div>
                                </div>


                                <div class="form-row">
                                    <div class="form-group col-sm-6"><label class="required">Home Team</label>
                                        <select formControlName='homeTeamId' class="custom-select"
                                            (change)="onChangeHomeTeam($event.target.value)">
                                            <option value=""> Select </option>
                                            <option *ngFor="let team of teams" value="{{team.team_Id}}">
                                                {{team.team_Name}}</option>
                                        </select>
                                    </div>
                                    <div class="form-group col-sm-6">
                                        <label class="required">Visiting Team</label>
                                        <select formControlName='visitingTeamID' class="custom-select"
                                            (change)="onChangeVisitingTeam($event.target.value)">
                                            <option value=""> Select </option>
                                            <option *ngFor="let team of teams" [ngValue]="team.team_Id">
                                                {{team.team_Name}}</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-group col-sm-6"><label class="required">Game Date</label>
                                        <input type="datetime-local" class="form-control" formControlName='gameDate'>
                                    </div>
                                    <div class="form-group col-sm-6">
                                        <label class="required">CutOff Date</label>
                                        <input type="datetime-local" class="form-control" formControlName='cutOffDate'>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-group col-sm-6">
                                        <label class="required">Played Status</label>
                                        <select formControlName='playedStatus' class="custom-select">
                                            <option value=""> Select </option>
                                            <option value="PLAYED"> PLAYED</option>
                                            <option value="UNPLAYED"> UNPLAYED</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="text-right"><button type="submit" (click)="saveSchedule()"
                                        class="btn btn-primary">Save</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>